//out:game.css
body
  margin 0
  background #333
  color #ccc
  pre
    font-size 13px
    font-family dvsm
  a
    color: white
  #x
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    text-align left
  #y
    bottom 1%
    position absolute
    left 50%
    transform translateX(-50%)
    width 1000px
    height 10px
    background-color #ddd
    #z
      width 1000px
      height 10px
      font-family dvsm
      font-size 10px
      background-color green
  .logo
    color limegreen
    position absolute
    bottom 55%
    left 50%
    font-family Courier New
    transform translateX(-50%)
  .start
    top 50%
    left 50%
    transform translateX(-50%)
    text-align center
    color red
    text-decoration none
    position absolute
  .des
    width 100%
    height 35%
    bottom 0
    left 0
    white-space pre-wrap
    overflow scroll
    position absolute
    .cont
      width 50%
      height 100%
      bottom 0
      left 25%
      white-space pre-wrap
      position absolute
