body {
  margin: 0;
  background: #333;
  color: #ccc;
}
body #x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
body .logo {
  color: #32cd32;
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
}
body .start {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #f00;
  text-decoration: none;
  position: absolute;
}
