//out:game.css
body
  margin 0
  background #333
  color #ccc
  #x
    margin 0
    text-align center
  .logo
    color limegreen
    position absolute
    bottom 55%
    left 50%
    transform translateX(-50%)
  .start
    top 50%
    left 50%
    transform translateX(-50%)
    text-align center
    color red
    text-decoration none
    position absolute
