//output:index.html
doctype html    
html
  head
    meta(charset='utf8')
    title char
    link(rel='stylesheet' href='game.css')
  body
    pre.logo
      |                      __
      |          _______     )/___     ______     ______
      |          )/   )/    //   )\    )/   )\    )/  )/
      |         //         //   ///   //___///   //
      |        //         //   ///   //   ))/   //
      |       //         //   ///   //   ///   //
      |      /(_________/(   //(___/(   //(___/(
    .start: pre.
      ╔══════════════════════════╗
      ║ ╔══════════════════════╗ ║
      ║ ║ PRESS SPACE TO START ║ ║
      ║ ╚══════════════════════╝ ║
      ╚══════════════════════════╝
    script.
      onkeyup=function(e){
        e.which==32&&(location='game.html')
      }
